.btn {
    padding: 10px 13px;
    display: inline-block;
    text-align: center;
    width: 220px;
    border-radius: 10px;
    border-color: none;
    border-style: none;
    background-color: $main-color;
    color: #fff;
    transition: 0.5s;
    &:hover {
        text-decoration: none;
        color: #fff;
        transform: scale(1.05)
    }
    &_second {
        color: #000;
        background-color: #fff;
        width: 100px;
        height: 46px;
        &:hover {
            color: #000;
        }
    }
    &_link {
        color: #fff;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}