.promo {
    padding: 30px 0 160px 0;
    background: url('../img/11.jpg') center center/cover no-repeat;
    min-height: 600px;
    &__title {
        color: #fff;
        margin-top: 138px;
        font-size: 48px;
        line-height: 56px;
    }
    &__subtitle {
        font-size: 24px;
        line-height: 28px;
        color:  $second-color;
    }
    &__btn {
        margin-top: 33px;
        margin-right: 21px;
    }
}